.filterContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 10px;

  .filterContainer_selectWrap {
    select {
      padding: 18px 15px;
      min-width: 150px;
    }
  }
  .filterWrap {
    display: flex;
    box-shadow: 0 2px 23px 0 #ededed;
  }

  .filterContainer_button {
    box-shadow: 0 6px 15px 0 rgba(255, 180, 114, 0.44);
    background-color: #ffb472;
    font-size: 16px;
    color: #ffffff;
    width: 190px;
    height: 60px;
  }
}